!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Olof portfolio
    %link{:rel => "stylesheet"}>/
    %script{src: "https://code.jquery.com/jquery-2.1.4.js"}
    / Compiled and minified CSS
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'
    = stylesheet_link_tag 'site'

    / Compiled and minified JavaScript
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js'
    = javascript_include_tag 'site'
  %body
    = partial 'partials/sidebar'
    = yield
    = partial 'partials/footer'
